@model Pages.Models.NavLink

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>NavLink</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NavLinkTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NavLinkTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PageId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PageId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParentLinkId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParentLinkId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NLId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
